@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto');
body {
  margin: 0;
  padding: 0;
}
main {
  grid-row: 2;
  grid-column: 2;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
header {
  display: flex;
  grid-row: 1;
  grid-column: 2;
  justify-self: end;
}

.App {
  display: grid;
  grid-template-columns: 75px 1fr 75px;
  grid-template-rows: 35px 1fr 3%;
  grid-row-gap: 1rem;
  overflow: auto;
  background-color: #ccc9dc41;
  height: 100vh;
}
header > p {
  flex: 3;
  margin: 0 2rem;
  align-self: center;
}
.App__settings-button {
  flex: 1;
  max-width: 120px;
  background-color: #1b2a41;
  font-size: 1rem;
  padding: 0.5rem;
  color: #ccc9dc;
  user-select: none;
}
.App__settings-button:hover {
  border: 1.2px #000 solid;
  box-sizing: border-box;
  cursor: default;
}
.App__settings-button:active {
  background-color: #ccc9dc;
  color: #1b2a41;
}

@media only screen and (max-width: 1200px) {
  .App {
    grid-template-columns: 1fr;
  }
}
