.App {
  display: grid;
  grid-template-columns: 3% 1fr 3%;
  grid-template-rows: 3% 1fr 3%;
  overflow: auto;
}
.App > button {
  grid-row: 1;
  grid-column: 2;
  justify-self: right;
  max-width: 100px;
}
main {
  grid-row: 2;
  grid-column: 2;
  max-height: 100vh;
}
