@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto');

body {
  margin: 0;
  padding: 0;
  color: #0c1821;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
