.loginSignup__container {
  font-family: 'Noto Serif';
  color: #0c1821;
  display: grid;
  grid-auto-flow: row;
}

.loginSignUp__open-signup {
  padding: 0.5rem;
  background-color: #ccc9dc;
  width: 50%;
  display: flex;
  justify-content: center;
  justify-self: end;
}
