.accessory-container {
  display: flex;
  flex-direction: column;
}

.accessory {
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  display: flex;
}
.accessory > p {
  flex: 9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.accessory > p > span {
  display: flex;
  justify-content: center;
}

.accessory > button {
  flex: 1;
  max-width: 25px;
}
