.accessory__container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}
.accessory__container-titles {
  grid-column: 1/12;
  display: grid;
  grid-template-columns: 1fr repeat(3, 5fr);
  justify-items: center;
}

.accessory__container > button {
  grid-column: 6/9;
}
.accessory__item {
  grid-column: 1/12;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  display: grid;
  grid-template-columns: 1fr repeat(3, 5fr);
  align-items: center;
}
.accessory__item-icons {
  display: flex;
  grid-column: 1;
}
.accessory__item-icons > img {
  height: 15px;
  width: 15px;
}
.accessory__item-content {
  grid-column: 2/5;
  display: flex;
  width: 100%;
  min-height: 50px;
  justify-content: space-around;
  align-items: center;
}

.accessory__item-content > span {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.accessory__item-content > input {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100px;
  max-width: 200px;
  text-align: center;
  font-size: 1.1rem;
}
