.accessory__container {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 50px repeat(3, 1fr); */
}
.accessory__container-titles {
  display: grid;
  grid-template-columns: 1fr repeat(3, 5fr);
  justify-items: center;
}
.accessory__item {
  grid-column: 1/-1;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  display: flex;
  align-items: center;
}
.accessory__item-icons {
  display: flex;
  flex: 1;
}
.accessory__item-icons > img {
  height: 15px;
  width: 15px;
}
.accessory__item > div:nth-child(2) {
  flex: 15;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  min-height: 50px;
  justify-content: space-around;
  align-items: center;
}

.accessory__item > div:nth-child(2) > span {
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.accessory__item > div:nth-child(2) > input {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100px;
  max-width: 200px;
  text-align: center;
  font-size: 1.1rem;
}
