.accessory__container {
  display: grid;
  grid-template-columns: 1fr repeat(3, 3fr);
  font-family: 'Roboto';
  grid-column: 1/5;
}
.accessory__container-titles {
  grid-column: 1/12;
  display: grid;
  grid-template-columns: 1fr repeat(3, 3fr);
  justify-items: center;
}

.accessory__container > button {
  grid-column: 3;
}
.accessory__item {
  grid-column: 1/5;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  display: grid;
  grid-template-columns: 1fr repeat(3, 3fr);
  align-items: center;
}
.accessory__item-icons {
  display: flex;
  grid-column: 1;
}
.accessory__item-icons > img {
  height: 15px;
  width: 15px;
}
.accessory__item-content {
  grid-column: 2/5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  min-height: 50px;
  justify-items: center;
  align-items: center;
}
.accessory__item-content-setrep {
  grid-column: 2;
  display: flex;
  flex: 1;
  min-height: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.accessory__item-content-setrep > input {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  max-width: 100px;
  text-align: center;
  /* font-size: 1.1rem; */
}

.accessory__item-content > span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.accessory__item-content > input {
  height: 20px;
  width: 100px;
  max-width: 200px;
  text-align: center;
  /* font-size: 1.1rem; */
}
