.weightEntry__container {
  max-width: 100vw;
}

.weightEntry__container > form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.25rem 2rem;
}
.weightEntry__container > form > button {
  grid-column: 4;
}

.weightEntry__input-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

@media only screen and (max-width: 800px) {
  .weightEntry__container > form {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
  }
  .weightEntry__container > form > button {
    grid-column: 2;
  }
  .weightEntry__input-wrapper > label {
    flex: 3;
  }
  .weightEntry__input-wrapper > input {
    flex: 6;
  }
  .weightEntry__bench-input,
  .weightEntry__ohp-input {
    grid-column: 1;
  }
  .weightEntry__deadlift-input,
  .weightEntry__squat-input {
    grid-column: 2;
  }
}
