.dailyLift__container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr repeat(3, 3fr);
}

.daily-lift-t1,
.daily-lift-t2 {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  align-items: center;
  justify-content: center;
  grid-column: 1/5;
}

.daily-lift-t1 > p,
.daily-lift-t2 > p {
  grid-column: span 2;
}

.dailyLift__day-title {
  font-family: 'Noto Serif', Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  grid-column: 3;
}

.accessories__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px gray solid;
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
}

.lift-title {
  grid-column: 1/3;
  width: 100%;
}

.workouts {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  user-select: none;
  border: 0.5px solid gray;
}

.workouts:hover {
  font-size: 1.05rem;
}

@media only screen and (max-width: 800px) {
  .daily-lift-wrapper {
    scroll-snap-type: x mandatory;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: auto;
  }
  .dailyLift__container {
    scroll-snap-align: center;
    min-width: 100vw;
    width: 100%;
    margin: 0rem;
    grid-template-columns: repeat(6, 1fr);
  }
  .daily-lift-t1,
  .daily-lift-t2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
  }
  .workouts {
    max-height: 250px;
    margin: 0;
  }
  .lift-title {
    grid-column: 1;
    width: 100%;
    text-align: center;
  }
  .daily-lift-t1 {
    grid-column: 1/4;
  }
  .daily-lift-t2 {
    grid-column: 4/7;
  }
  .dailyLift__day-title {
    grid-column: 3/5;
  }

  .daily-lift-t1 > p,
  .daily-lift-t2 > p {
    grid-column: span 1;
  }
}
