.dailyLift__container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr repeat(3, 3fr);
}

.daily-lift-t1,
.daily-lift-t2 {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  align-items: center;
  justify-content: center;
  grid-column: 1/5;
}

.daily-lift-t1 > p,
.daily-lift-t2 > p {
  grid-column: span 2;
}

.dailyLift__day-title {
  font-family: 'Noto Serif', Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  grid-column: 3;
}

.accessories__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px gray solid;
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
}

.lift-title {
  grid-column: 1/3;
  width: 100%;
}

.workouts {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  user-select: none;
  border: 0.5px solid gray;
}

.workouts:hover {
  font-size: 1.1rem;
}
