.daily-lift-t1,
.daily-lift-t2 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  align-items: center;
  justify-content: center;
}

.accessories__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px gray solid;
  height: 100%;
}

.lift-title {
  grid-column: 1/3;
  width: 100%;
}

.workouts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  user-select: none;
}
