.weightboxSelector__container {
  display: flex;
  flex-direction: column;
}
.weightboxSelector__container > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.weightboxSelector__container > * > select {
  margin-left: 1rem;
}
